# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Prototipo/Library/
Prototipo/Temp/
*.sln
*.csproj
*.suo
*.htm
Prototipo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Prototipo/obj/Debug/Assembly-CSharp-firstpass.csprojResolveAssemblyReference.cache
Prototipo/obj/Debug/Assembly-CSharp-firstpass.pdb
Project/dependencies/CEGUI/
Project/dependencies/Ogre/
Project/dependencies/OgreDependencies/
Project/dependencies/VisualLeakDetector/

Projects/Application/Debug/
Projects/Application/Release/

Projects/BaseSubsystems/Debug/
Projects/BaseSubsystems/Release/

Projects/Configure/Debug/
Projects/Configure/Release/

Projects/Graphics/Debug/
Projects/Graphics/Release/

Projects/GUI/Debug/
Projects/GUI/Release/

Projects/Logic/Debug/
Projects/Logic/Release/

Projects/Map/Debug/
Projects/Map/Release/